* {
    margin: 0px;
    padding: 0px;
}

.page {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #ED4C5C;
    width: 100%;
}

.header .header-text {
    width: 40%;
    display: inline-block;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 30px;
}

.header .header-text .h-text {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    padding-bottom: 50px;
    display: block;
}

.header .header-text .h-sub-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    display: block;
}

.header .header-image {
    display: inline-block;
    position: relative;
}

.header .header-image .header-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-icons {
    padding-top: 30px;
    padding-left: 150px;
}

.contact-wrapper {
    width: 100%;
    display: flex;
}

.contact-wrapper .contact {
    width: 35%;
    height: 500px;
    display: inline-block;
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 30px;
}

.contact-wrapper .contact .contact-text {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    width: max-content;
    height: max-content;
    display: block;
    padding-bottom: 50px;
}

.contact-wrapper .contact .contact-sub-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    display: block;
    height: max-content;
}

.contact-wrapper .contact-input {
    padding-top: 100px;
    width: 50%;
    height: 500px;
    display: inline-block;
}

.contact-wrapper .contact-input .name-input .first-name {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin-right: 25px;
}

.contact-wrapper .contact-input .name-input .first-name::placeholder {
    padding-left: 30px;
}

.contact-wrapper .contact-input .name-input .last-name {
    border: 1px solid #333333;
    border-radius: 6px;
    width: 255px;
    height: 60px;
}

.contact-wrapper .contact-input .name-input .last-name::placeholder {
    padding-left: 30px;
}

.contact-wrapper .phone-number {
    border: 1px solid #333333;
    border-radius: 6px;
    width: 540px;
    height: 60px;
    margin-top: 25px;
}

.contact-wrapper .phone-number::placeholder {
    padding-left: 30px;
}

.contact-wrapper .service-select {
    color: rgba(19, 39, 67, 0.5);
    border: 1px solid #333333;
    border-radius: 6px;
    margin-top: 25px;
    width: 540px;
    height: 60px;
}

.contact-wrapper .contact-input .submit-button {
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background-color: #ED4C5C;
    border: none;
    outline: none;
    margin-top: 25px;
}

.contact-wrapper .contact-input .submit-button .submit-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info-wrapper {
    padding-top: 100px;
    padding-left: 150px;
    text-align: left;
    display: flex;
}

.info-wrapper .address {
    width: 12%;
    display: inline-block;
    margin-right: 110px;
}

.info-wrapper .info-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    display: block;
    padding-bottom: 25px;
}

.info-wrapper .address .address-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    display: block;
}

.info-wrapper .address .copyright-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    display: block;
    margin-top: 125px;
}

.info-wrapper .services {
    width: 5%;
    display: inline-block;
    margin-right: 160px;
}

.info-wrapper .services .services-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    display: block;
}

.info-wrapper .get-in-touch {
    width: 8%;
    display: inline-block;
    margin-right: 150px;
}

.info-wrapper .get-in-touch .get-in-touch-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    display: block;
}

.info-wrapper .support {
    width: 24%;
    display: inline-block;
}

.info-wrapper .support .pay-icon {
    display: block;
}